<section class="pt-6 align-items-center">
    <div class="container-fluid mt-80">
        <app-title [ComponentName]="ComponentName"></app-title>

        <form action="" class="w-50 p-3 mx-auto mt-5">

            <label for="userName" class="position-relative top-0">userName :</label>
            <input id="userName" type="text" placeholder="userName" name="userName"
                class="form-control border-0 border-bottom py-3 mb-3 position-relative">

            <label for="userAge" class="position-relative top-0">userAge :</label>
            <input id="userAge" type="text" placeholder="userAge" name="userName"
                class="form-control border-0 border-bottom py-3 mb-3 position-relative">

            <label for="userEmail" class="position-relative top-0">userEmail :</label>
            <input id="userEmail" type="text" placeholder="userEmail" name="userName"
                class="form-control border-0 border-bottom py-3 mb-3 position-relative">

            <label for="userPassword" class="position-relative top-0">userPassword :</label>
            <input id="userPassword" type="text" placeholder="userPassword" name="userName"
                class="form-control border-0 border-bottom py-3 mb-4 position-relative">

            <button class="btn text-white bg-primary"> send Message</button>
        </form>


    </div>
</section>