<section class="pt-6 align-items-center">
    <div class="container-fluid pt-80">
        <app-title [ComponentName]="ComponentName"></app-title>

        <form action="" class="w-50 p-3 mx-auto mt-5">

            <app-floating-input [type]="'text'" [name]="'userName'"></app-floating-input>
            <app-floating-input [type]="'number'" [name]="'userAge'"></app-floating-input>
            <app-floating-input [type]="'email'" [name]="'userEmail'"></app-floating-input>
            <app-floating-input [type]="'password'" [name]="'userPassword'"></app-floating-input>

            <button class="btn text-white mt-2 bg-primary"> send Message</button>
        </form>


    </div>
</section>