#star::before,
#star::after {
    content: "";
    background-color: var(--before-after-color) !important;
    height: 4px;
    width: 80px;
    margin-inline: 1rem !important;
    display: inline-block;
}