<footer>
    <p>footer works!</p>
    <p>footer works!</p>
    <div class="bg-secondary text-white p-5 text-center">
        <div class="container">
            <div class="row">
                <div class="col p-3">
                    <h3>LOCATION</h3>
                    <P>2215 John Daniel Drive</P>
                    <P>Clark, MO 65243</P>
                </div>

                <div class="col p-3">
                    <h3>AROUND THE WEB</h3>
                    <div class="icons">
                        <i class="fa-brands fa-facebook"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-linkedin-in"></i>
                        <i class="fa-solid fa-globe"></i>
                    </div>
                </div>

                <div class="col p-3">
                    <h3>ABOUT FREELANCER</h3>
                    <P> Freelance is a free to use, licensed Bootstrap theme created by Route </P>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-dark container-fluid text-white py-2 text-center">
        <p class="pt-2">Copyright © Your Website 2021</p>
    </div>
</footer>