#star::before,
#star::after {
    --star-color: #2c3e50;

    content: "";
    background-color: var(--star-color) !important;
    height: 4px;
    width: 80px;
    margin-inline: 1rem !important;
    display: inline-block;
}

/* .star[data-color="#2c3e50"] {
    --star-color: #2c3e50;
} */

/* .star[data-color="white"] {
    --star-color: white;
} */