:root {
    --bs-primary: #1abc9c;
    --bs-secondary: #2c3e50;
    --bs-primary-rgb: 26, 188, 156;
    --bs-secondary-rgb: 44, 62, 80;
    --bs-dark-rgb: 26, 37, 47;
    --bs-emphasis-color-rgb: var(--bs-primary-rgb);
}

.pt-6 {
    padding-block: 4.8rem;
}

.mt-80 {
    margin-top: 80px;
}

section {
    min-height: calc(100vh - 40px);
}

#star::before,
#star::after {
    content: "";
    background-color: black !important;
    height: 4px;
    width: 80px;
    margin-inline: 1rem !important;
    display: inline-block;
}